/* ---------- Hero Section ---------- */
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  border-radius: 40px;
  overflow: hidden;
  background: url("/bg.jpg") center / cover no-repeat;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Overlay */
.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0,0,0,0.7),
    rgba(0,0,0,0.2)
  );
}


.hero-content {
  position: absolute;
  bottom: 60px;
  left: 8%;                 
  transform: none;        
  color: #fff;
  z-index: 2;
  max-width: 45%;           
  text-align: left;           
}

.hero-content h1 {
  font-size: 80px;       
  font-weight: 800;
  margin: 0 0 20px 0;
}

.hero-content p {
  font-size: 38px;         
  opacity: 0.9;
  margin-bottom: 30px;
}

.hero-content button {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 20px 40px;
  border-radius: 40px;
  font-size: 32px;
  cursor: pointer;
  transition: 0.3s;
}

.hero-content button:hover {
  background: #fff;
  color: #000;
}

/* ---------- Media Queries ---------- */
@media (max-width: 1024px) {
  .hero-content {
    max-width: 60%;
    left: 8%;
  }
  .hero-content h1 {
    font-size: 80px;
  }
  .hero-content p {
    font-size: 32px;
  }
  .hero-content button {
    font-size: 24px;
    padding: 16px 32px;
  }
}

@media (max-width: 768px) {
  .hero-content {
    left: 50%;               /* نرجع الوسط للموبايل */
    bottom: 40px;
    max-width: 90%;
    transform: translateX(-50%);
    text-align: center;
  }
  .hero-content h1 {
    font-size: 38px;
  }
  .hero-content p {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .hero-content button {
    font-size: 16px;
    padding: 10px 25px;
    height: auto;
  }
}
