
.order-page {
  padding: 20px;
  background: #ffffff;
}


.masonry-container {
width: 100%;    
  column-count: 3;
  column-gap: 76px;
   margin: 0 auto;   
   padding-left: 220px;
}


.masonry-item {
  display: inline-block;
  width: 100%;
  margin-bottom: 16px;
  border-radius: 20px;
  overflow: hidden;
  break-inside: avoid;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
}

.masonry-item:hover {
  transform: translateY(-6px);
}


.masonry-item img {
  width: 100%;
  display: block;
  border-radius: 24px;
}


.masonry-item h3 {
  padding: 12px;
  color: #000000;
  font-size: 15px;
  
}


@media (max-width: 768px) {
 
  .masonry-container {
 
  column-count: 2;
  column-gap: 5px;
  padding-left: 1px;
   
}
  .masonry-item {
  display: inline-block;
  width: 100%;
  margin-bottom: 16px;
 
  border-radius: 15px;
  overflow: hidden;
  break-inside: avoid;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
}
  .masonry-item h3 {
  padding: 12px;
  font-size: 10px;
  color: #000000;
}
  
}


@media (min-width: 1200px) {
  .masonry-container {
    column-count: 4;
  }
}
