.register-order-page {
  padding: 60px 20px;
  background: #f9f9f9;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.form-container {
  background: white;
  padding: 40px;
  border-radius: 20px;
  max-width: 5200px;
  width: 100%;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 58px;
}

.template-info p {
  font-size: 78px;
  margin-bottom: 10px;
}

form label {
  display: block;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 50px;
}

form input {
  width: 100%;
  height: 100px;
  padding: 12px 14px;
  margin-top: 6px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
}

form button {
  width: 100%;
  padding: 16px;
  margin-top: 20px;
  height: 200px;
  background: #000;
  color: white;
  font-size: 58px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background 0.3s;
}

form button:hover {
  background: #333;
}

/* Responsive */
@media (max-width: 480px) {
  .form-container {
    padding: 30px 20px;
  }

  .form-container h2 {
    font-size: 24px;
  }

  form input {
    padding: 10px 12px;
    font-size: 14px;
  }

  form button {
    font-size: 16px;
    padding: 14px;
  }
}
